
body {
    font-family: "Poppins", sans-serif !important;
    font-size: 15px !important;
    color: #555a64 !important;
    font-weight: 400;
}
footer {
    padding: 12px 0;
    background: #111;
}

/* CLASSES */
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: transparent !important;
    background-color: transparent !important;
    
}
.container1 {
    background: transparent !important;
    padding-left: 15px !important;
    max-width: 1140px;

}
.container2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-brand {
    font-size: 24px !important;
    background: transparent !important;
    font-weight: 600;
    color: #fff !important;
}
.navbar-nav {
    margin-left: auto !important;
}
.nav-link {
    padding: 0 10px !important;
    margin-left: 10px;
    color: #fff !important;
    background: transparent !important;
    font-weight: 500;
}
.nav-link:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}
.nav-link:active {
    color: rgba(255, 255, 255, 0.5) !important;
}
.navbar-toggler {
    background-color: #d9832e !important;
}
.fixed-nav {
    background: #fff !important;
}
.fixed-brand {
    color: #000 !important;
}
.fixed-link {
    color: #000 !important;
}
.fixed-link:hover {
    color:#d9832e !important;
}
.fixed-link:active {
    color:#d9832e !important;
}
.section-1 {
    padding: 100px 0;
    background-color: #eaedf2;
}
.section-2 {
    padding: 100px 0;
    background-color: #fff;
}
.row {
    margin-bottom: 35px;
}
.contact-row {
    margin-bottom: 1px !important;
    justify-content: center !important;
}
.footer-row {
    margin-bottom: 10px !important;
    align-items: center !important;
    /* justify-content: center !important; */
}
.m-15px-tb {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}
.col-lg-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


@media (min-width: 576px) {
    .container2 {
      max-width: 540px;
    }
    .container1 {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container2 {
      max-width: 720px;
    }
    .container1 {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container1 {
      max-width: 960px;
    }
    .container2 {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container2 {
        max-width: 1140px !important;
    }
}
@media (max-width: 768px) {
    .footer-row {
        text-align: center !important;
        
    }
    .gap {
        gap: 17px;
    }
}
@media (max-width: 991px) {
    .navbar-nav {
        margin-top: 5px !important;
        padding: 8px 15px;
        border: 1px solid #ddd;
        background: #ffffff;
    }
    .nav-link {
        color: #000 !important;
        padding-top: 5px !important;
        padding-bottom: 8px !important;
        font-weight: 500 !important; 
    }
    .link {
        border-bottom: 1px solid #ddd !important;
    }
    .nav-link:hover {
        color: #d9832e !important;
    }
}